version: '3.8'

services:
  # 1. Your Banking ML Application
  fraud-app:
    build: .
    container_name: fraud-app
    ports:
      - "8000:8000"
    networks:
      - monitoring

  # 2. Prometheus (The Metrics Database)
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  # 3. Grafana (The Dashboard UI)
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Default password

networks:
  monitoring: